@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  color: rgba(255, 255, 255, 0.5);
  z-index: 1;
  font-weight: 100;
  text-decoration: none;
}

:root {
  font-size: 16px;
}

::-moz-selection {
  background-color: #4df5ea;
  color: rgba(2, 58, 54, 0.5960784314); /* Optional: Change the text color within the highlighted area */
}

::selection {
  background-color: #4df5ea;
  color: rgba(2, 58, 54, 0.5960784314); /* Optional: Change the text color within the highlighted area */
}

#light {
  width: 50vh;
  height: 50vh;
  border-radius: 50%;
  background-color: rgba(6, 57, 143, 0.2);
  box-shadow: 0 0 100px 150px rgba(6, 57, 143, 0.2);
  position: fixed;
  z-index: 0;
  pointer-events: none; /* To allow interaction with elements beneath the circle */
}

body {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(16, 25, 46);
  padding: max(3vh, 100px) 2vw;
  gap: max(5vh, 50px);
  background-image: url("./../assets/test.png");
  background-position: center;
  background-attachment: fixed;
}
body header {
  max-width: 1200px;
  width: 100%;
}
body main {
  max-width: 1200px;
  width: 100%;
}

header a {
  background-color: transparent;
  border: none;
  font-size: 1.1rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  gap: max(0.5vw, 7px);
  color: #65f6ed;
  width: -moz-fit-content;
  width: fit-content;
}
header a:hover {
  cursor: pointer;
  color: #65f6ed;
}
header a:hover .material-icons-outlined {
  transform: translate(-8px, 0);
  cursor: pointer;
  color: #65f6ed;
}
header h1 {
  color: rgba(225, 234, 252, 0.8901960784);
  font-weight: 800;
  font-size: 3rem;
}
header .material-icons-outlined {
  font-size: 0.8rem;
  font-weight: 700;
  color: #65f6ed;
  transition-duration: 100ms;
}

table {
  border-collapse: collapse;
  width: 100%;
}
table th, table td {
  text-align: left;
  padding: 4vh 1vw;
  font-weight: 400;
  height: -moz-fit-content;
  height: fit-content;
  flex: 1;
}
table th {
  font-weight: 700;
  color: rgba(225, 234, 252, 0.8901960784);
  font-size: 1.1rem;
}
table td {
  font-weight: 400;
}
table td a {
  font-weight: 400;
}
table tr {
  display: flex;
  border-bottom: 1px solid rgba(119, 122, 133, 0.2);
  align-items: center;
  justify-content: flex-start;
}
table .project-header {
  flex: 2;
  max-width: max(20vw, 290px);
}
table .project {
  flex: 2;
  color: rgba(225, 234, 252, 0.8901960784);
  max-width: max(20vw, 290px);
}
table .project .material-icons-outlined {
  font-size: 0.8rem;
  font-weight: 700;
  color: rgba(225, 234, 252, 0.8901960784);
  transition-duration: 100ms;
  word-wrap: break-word;
}
table .project a {
  font-weight: 400;
  color: rgba(225, 234, 252, 0.8901960784);
}
table .project a:hover {
  cursor: pointer;
  color: #65f6ed;
}
table .project a:hover .material-icons-outlined {
  transform: translate(4px, -4px);
  color: #65f6ed;
}
table .link-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: max(1vw, 15px);
}
table .link-container .material-icons-outlined {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.5);
  transition-duration: 100ms;
}
table .link-container svg {
  fill: rgba(255, 255, 255, 0.5);
  transition-duration: 100ms;
}
table .link-container a:hover svg {
  fill: white;
}
table .tech {
  flex: 2;
}
table .tech-header {
  flex: 2;
}
table .tech-container {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5vw;
  max-width: 300px;
}
table .tech-container .tag {
  background-color: rgba(2, 58, 54, 0.5960784314);
  color: #65f6ed;
  padding: 5px max(0.7vw, 10px);
  border-radius: 500px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 0.75rem;
  font-weight: 500;
}

@media only screen and (max-width: 1200px) {
  body {
    padding: max(5vh, 50px) max(2vw, 20px);
  }
  #light {
    display: none;
  }
  .type-header, .type, .tech-header, .tech {
    display: none;
  }
  .project-header, .project {
    flex: 4;
  }
}
@media only screen and (max-width: 700px) {
  .link-header, .link {
    display: none;
  }
  .project-header, .project {
    flex: 4;
  }
}/*# sourceMappingURL=archive.css.map */