@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  color: rgba(215, 213, 213, 0.6980392157);
  z-index: 1;
  font-weight: 100;
  text-decoration: none;
}

:root {
  font-size: 15px;
}

::-moz-selection {
  background-color: #4df5ea;
  color: rgba(3, 88, 82, 0.5960784314); /* Optional: Change the text color within the highlighted area */
}

::selection {
  background-color: #4df5ea;
  color: rgba(3, 88, 82, 0.5960784314); /* Optional: Change the text color within the highlighted area */
}

#light {
  width: 50vh;
  height: 50vh;
  border-radius: 50%;
  background-color: rgba(5, 45, 114, 0.2);
  box-shadow: 0 0 100px 150px rgba(5, 45, 114, 0.2);
  position: fixed;
  z-index: 0;
  pointer-events: none; /* To allow interaction with elements beneath the circle */
}

body {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: max(7vw, 70px);
  background-color: rgb(15, 23, 42);
  z-index: -1;
}
body .highlight-text {
  font-weight: 500;
  color: white;
  font-size: 1rem;
}
body header, body .scrollable-content {
  display: flex;
  flex-flow: column;
  flex: 0 1 max(600px, 30vw);
  padding: max(3vh, 100px) 2vw;
  max-width: 600px;
}
body main {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: max(10vh, 50px);
}
body .scrollable-content {
  padding-left: 0;
  gap: max(10vh, 50px);
}
body .scrollable-content h2 {
  color: #FFFFFF;
  font-weight: 1000;
  font-size: 1.3rem;
  display: none;
  letter-spacing: max(2px, 0.2vw);
  position: sticky;
  top: 0;
  height: max(6vh, 50px);
  background-color: rgba(15, 23, 42, 0.5);
  z-index: 2;
  margin-bottom: max(-6vh, -60px);
  background-color: rgb(15, 23, 42);
}
body header {
  position: sticky;
  top: 0;
  justify-content: space-between;
  height: 100vh;
  gap: max(10vh, 50px);
  flex: 0 1 max(450px, 20vw);
  padding-right: 0;
}

.upper-header {
  display: flex;
  flex-flow: column;
  gap: max(4vh, 20px);
}
.upper-header .intro {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.upper-header h1 {
  font-weight: 700;
  font-size: 3rem;
}
.upper-header .intro span {
  font-weight: 700;
  font-size: 1.5rem;
  color: #8d8d8d;
}
.upper-header .short-intro {
  font-size: 1rem;
}

.upper-header nav {
  display: flex;
  flex-flow: column;
}
.upper-header .nav-row {
  display: flex;
  flex-flow: row nowrap;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  gap: max(0.8vw, 5px);
  border: none;
  background-color: transparent;
  padding: 1vh 0;
}
.upper-header .nav-row:hover {
  cursor: pointer;
}
.upper-header .nav-row span {
  font-weight: 700;
  color: rgba(215, 213, 213, 0.6980392157);
}
.upper-header .nav-row .line {
  height: 1px;
  width: 40px;
  background-color: rgba(215, 213, 213, 0.6980392157);
  transition-duration: 200ms;
}
.upper-header .nav-row:hover .line {
  background-color: #FFFFFF;
  cursor: pointer;
  width: 80px;
}
.upper-header .nav-row:hover span {
  color: #FFFFFF;
  cursor: pointer;
}

.lower-header {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1vh;
}
.lower-header .socials {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5vw;
}
.lower-header .contact-item {
  display: flex;
  flex-flow: row nowrap;
  gap: max(0.2vw, 4px);
}
.lower-header .contact-item button {
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 5px;
  font-weight: 700;
  color: rgb(15, 23, 42);
  background-color: #8d8d8d;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 200ms;
}
.lower-header .contact-item button:hover {
  cursor: pointer;
  background-color: #FFFFFF;
}
.lower-header .contact-item .copied {
  background-color: rgb(35, 138, 66);
}
.lower-header .contact-item .copied:hover {
  cursor: default;
  background-color: rgb(35, 138, 66);
}
.lower-header .contact-item .copied .material-icons-outlined {
  color: white;
  transition-duration: 200ms;
}
.lower-header .contact-item .material-icons-outlined {
  font-size: 1rem;
  color: rgb(15, 23, 42);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.lower-header .contact {
  display: flex;
  flex-flow: row wrap;
  gap: max(1vw, 1vh);
}
.lower-header .contact-content {
  color: white;
  border: 1px solid #8d8d8d;
  border-radius: 5px 0 0 5px;
  padding: 5px 5px;
  font-size: 0.8rem;
}
.lower-header .text-copied {
  border-color: rgb(35, 138, 66);
}
.lower-header a, .lower-header a:visited, .lower-header a:hover {
  text-decoration: none;
  color: white;
}
.lower-header svg {
  transition-duration: 200ms;
  fill: #8d8d8d;
}
.lower-header svg:hover {
  fill: rgba(215, 213, 213, 0.6980392157);
}

@media only screen and (max-width: 1200px) {
  #light {
    display: none;
  }
  body {
    padding: 4vh 5vw;
    flex-flow: column;
    gap: 7vh;
  }
  body header, body .scrollable-content {
    flex: unset;
    max-width: unset;
  }
  body header {
    position: unset;
    padding: 0;
    justify-content: flex-start;
    gap: max(4vh, 20px);
    height: -moz-fit-content;
    height: fit-content;
  }
  body .scrollable-content {
    padding: 0;
  }
  body .scrollable-content h2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  header .upper-header nav {
    display: none;
  }
  .upper-header .short-intro {
    width: max(60%, 280px);
  }
  body .scrollable-content h2 {
    width: 100%;
  }
}
@media only screen and (max-width: 700px) {
  :root {
    font-size: 14px;
  }
  .upper-header h1 {
    font-size: 2rem;
  }
  .upper-header .intro span {
    font-size: 1.2rem;
  }
  .lower-header .contact {
    flex-flow: column;
    gap: 1vh;
  }
  .lower-header .contact-item button:hover {
    background-color: rgba(215, 213, 213, 0.6980392157);
  }
}
.about {
  font-size: 1rem;
  display: flex;
  flex-flow: column;
  gap: max(2vh, 20px);
}
.about .about__education {
  display: flex;
  flex-flow: column;
  gap: max(1vh, 20px);
  margin-top: max(3vh, 25px);
}
.about .resume-link {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  transition-duration: 200ms;
  gap: max(0.4vw, 5px);
  font-weight: 700;
  color: rgba(215, 213, 213, 0.6980392157);
  width: -moz-fit-content;
  width: fit-content;
}
.about .resume-link:hover {
  gap: max(0.7vw, 10px);
  color: #65f6ed;
}
.about .resume-link .material-icons-outlined {
  font-size: 0.7rem;
  font-weight: 700;
  color: rgba(215, 213, 213, 0.6980392157);
}
.about .resume-link:hover .material-icons-outlined {
  color: #65f6ed;
}

.about__education img {
  height: max(10vw, 100px);
  max-height: 100px;
  justify-self: center;
  align-self: center;
}
.about__education .education-btn {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: max(2vh, 5px) max(1vw, 5px);
  border-radius: 5px;
  transition-duration: 100ms;
  display: grid;
  grid-template-columns: 30% 65%;
  -moz-column-gap: max(1.5vw, 15px);
       column-gap: max(1.5vw, 15px);
}
.about__education .education-btn:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.0705882353);
}
.about__education .education-btn:hover .school, .about__education .education-btn:hover .material-icons-outlined {
  color: #65f6ed;
}
.about__education .text-group {
  display: flex;
  flex-flow: column;
  gap: max(0.4vh, 5px);
  text-align: left;
}
.about__education .school {
  font-size: 1rem;
  font-weight: 700;
  color: #FFFFFF;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: max(0.2vw, 2px);
  transition-duration: 100ms;
}
.about__education .school .material-icons-outlined {
  font-size: 0.7rem;
  color: #FFFFFF;
  transition-duration: 100ms;
}
.about__education .education-btn:hover .school .material-icons-outlined {
  transform: translate(4px, -4px);
}
.about__education .address, .about__education .course, .about__education .achivement, .about__education .years {
  font-size: 0.9rem;
}

@media only screen and (max-width: 1200px) {
  .about__education .education-btn {
    width: min(100%, 500px);
  }
}
@media only screen and (max-width: 500px) {
  .about__education img {
    height: max(5vw, 100px);
  }
  .about__education .education-btn {
    width: 100%;
    grid-template-columns: 100%;
    row-gap: max(2vh, 20px);
  }
  .about__education .text-group {
    display: flex;
    flex-flow: column;
    gap: max(0.4vh, 5px);
    text-align: left;
  }
  .about__education .school {
    width: -moz-fit-content;
    width: fit-content;
  }
  .about__education .education-btn:hover {
    cursor: default;
    background-color: transparent;
  }
  .about__education .education-btn:hover .school, .about__education .education-btn:hover .material-icons-outlined {
    color: #FFFFFF;
  }
  .about__education .education-btn:hover .school .material-icons-outlined {
    transform: none;
  }
  .about__education .education-btn .school:hover {
    cursor: pointer;
    color: #65f6ed;
  }
  .about__education .education-btn .school:hover .material-icons-outlined {
    color: #65f6ed;
    transform: translate(4px, -4px);
  }
}
.skills {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: max(5vh, 40px);
}
.skills .skill-container {
  display: grid;
  grid-template-columns: 30% 65%;
  -moz-column-gap: max(1.5vw, 15px);
       column-gap: max(1.5vw, 15px);
  padding: max(2vh, 20px) max(1vw, 5px);
  font-size: 1rem;
}
.skills .skills-content {
  color: #FFFFFF;
  font-weight: 700;
}

@media only screen and (max-width: 500px) {
  .skills .skill-container {
    grid-template-columns: 100%;
    row-gap: max(0.5vh, 15px);
    padding: 0;
  }
}
.projects {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: max(2vh, 20px);
}
.projects .project-container {
  display: grid;
  grid-template-columns: 30% 65%;
  -moz-column-gap: max(1.5vw, 15px);
       column-gap: max(1.5vw, 15px);
  background-color: transparent;
  border: none;
  text-align: left;
  padding: max(2vh, 5px) max(1vw, 5px);
  transition-duration: 100ms;
  border-radius: 5px;
}
.projects .project-container:hover {
  background-color: rgba(255, 255, 255, 0.0705882353);
  cursor: pointer;
}
.projects img {
  width: 90%;
  border-radius: 5px;
  border: 2px solid rgba(215, 213, 213, 0.6980392157);
}
.projects .project-container:hover img {
  border-color: rgba(255, 255, 255, 0.6980392157);
}
.projects .project-container:hover .main {
  color: #65f6ed;
}
.projects .material-icons-outlined {
  font-size: 0.7rem;
  color: inherit;
  transition-duration: 100ms;
}
.projects .project-container:hover .material-icons-outlined {
  transform: translate(4px, -4px);
}
.projects .projarchive-link {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  transition-duration: 200ms;
  gap: max(0.4vw, 5px);
  font-weight: 700;
  color: rgba(215, 213, 213, 0.6980392157);
  width: -moz-fit-content;
  width: fit-content;
}
.projects .projarchive-link:hover {
  gap: max(0.7vw, 10px);
  color: #65f6ed;
}
.projects .projarchive-link .material-icons-outlined {
  font-size: 0.7rem;
  font-weight: 700;
  color: rgba(215, 213, 213, 0.6980392157);
}
.projects .projarchive-link:hover .material-icons-outlined {
  color: #65f6ed;
}

.project-container .project-text {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: max(1.5vh, 10px);
}
.project-container .title {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.project-container .title .main {
  font-size: 1rem;
  color: #FFFFFF;
  font-weight: 700;
}
.project-container .title .sub {
  display: none;
  color: rgb(103, 102, 102);
  font-size: 1rem;
}
.project-container .desc {
  color: rgba(215, 213, 213, 0.6980392157);
}
.project-container .tags-container {
  display: flex;
  flex-flow: row wrap;
  -moz-column-gap: max(0.5vw, 5px);
       column-gap: max(0.5vw, 5px);
  row-gap: max(1vh, 10px);
}
.project-container .tags-container .tag {
  background-color: rgba(3, 88, 82, 0.5960784314);
  color: #65f6ed;
  padding: 5px max(0.7vw, 10px);
  border-radius: 500px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

@media only screen and (max-width: 500px) {
  .projects img {
    width: 70%;
  }
  .projects .project-container {
    row-gap: 2vh;
    grid-template-columns: 100%;
    padding: 0;
  }
  .projects .project-container:hover {
    cursor: default;
    background-color: transparent;
  }
  .projects .project-container:hover img {
    border-color: rgba(215, 213, 213, 0.6980392157);
  }
  .projects .project-container:hover .main {
    color: #FFFFFF;
  }
  .projects .project-container:hover .material-icons-outlined {
    transform: none;
  }
  .projects .project-text .main:hover {
    cursor: pointer;
    color: #65f6ed;
  }
  .projects .main:hover .material-icons-outlined {
    transform: translate(4px, -4px);
  }
}/*# sourceMappingURL=index.css.map */