@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$bg-clr: rgb(15 23 42);
$primary-font-clr: #d7d5d5b2;
$highlight-font-clr: #FFFFFF;
$secondary-font-clr: #8d8d8d;
$tag-bg-clr: #035853;
$tag-font-clr: #65f6ed;
$btn-bg-clr: #37885B;
