@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$bg-clr: rgb(17, 29, 58);
$bg-clr-mobile: rgb(19, 32, 61);
$primary-font-clr: rgba(255, 255, 255, 0.5);
$highlight-font-clr: #e1eafce3;
$secondary-font-clr: #8d8d8d;
$tag-bg-clr: #023a3698;
$tag-font-clr: #65f6ed;
$btn-bg-clr: #37885B;