@import "./variables";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: $primary-font-clr;
    z-index: 1;
    font-weight: 100;
    // line-height: min(4vh, 50px);
    // letter-spacing: 1px;
    // line-height: 30px;
}

:root{
    font-size: 15px;
}

::selection {
    background-color: darken($color: $tag-font-clr, $amount: 5);
    color: $tag-bg-clr; /* Optional: Change the text color within the highlighted area */
}

#light{
    width: 50vh;
    height: 50vh;
    border-radius: 50%;
    background-color: rgba(5, 45, 114, 0.2);
    // box-shadow: 0 0 50px 200px rgba(255, 255, 255, 0.02);
    box-shadow: 0 0 100px 150px rgba(5, 45, 114, 0.2);
    position: fixed;
    z-index: 0;
    pointer-events: none; /* To allow interaction with elements beneath the circle */
}

body{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: max(4vw, 100px);
    background-color: $bg-clr;
    z-index: -1;
    
    header, .scrollable-content{
        display: flex;
        flex-flow: column;
        flex: 0 1 max(500px, 30vw);
        padding: max(3vh, 100px) 0.5vw;
        max-width: 600px;
    }

    .scrollable-content h2{
        color: $highlight-font-clr;
        font-weight: 700;
        display: none;
    }

    header{
        position: sticky;
        top: 0;
        justify-content: space-between;
        height: 100vh;
    }
}
.upper-header{
    display: flex;
    flex-flow: column;
    gap: max(4vh, 20px);

   .intro{
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    h1{
        font-weight: 700;
        font-size: 3rem;
    }

    .intro span{
        font-weight: 700;
        font-size: 1.5rem;
        color: $secondary-font-clr;
    }

    .short-intro{
        font-size: 1rem;
    }
}

// Header
.upper-header{
    nav{
        display: flex;
        flex-flow: column;
        // gap: max(3vh, 15px);
    }
    
    .nav-row{
        display: flex;
        flex-flow: row nowrap;
        width: fit-content;
        align-items: center;
        gap: max(0.8vw, 5px);
        border: none;
        background-color: transparent;
        padding: 1vh 0;
    }

    .nav-row:hover{
        cursor: pointer;
    }

    .nav-row span{
        font-weight: 700;
        color: $primary-font-clr;
    }

    .nav-row .line{
        height: 1px;
        width: 40px;
        background-color: $primary-font-clr;
        transition-duration: 200ms;
    }

    .nav-row:hover .line{
        background-color: $highlight-font-clr;
        cursor: pointer;
        width: 80px;
    }

    .nav-row:hover span{
        color: $highlight-font-clr;
        cursor: pointer;
    }
}
.lower-header{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1vh;

    .socials{
        display: flex;
        flex-flow: row wrap;
        gap: 0.5vw;
    }

    .contact-item{
        display: flex;
        flex-flow: row nowrap;
        gap: max(0.2vw, 4px);

        button{
            border: none;
            border-radius: 0 5px 5px 0;
            padding: 5px;
            font-weight: 700;
            color: $bg-clr;
            background-color: $secondary-font-clr;
            font-size: 0.7rem;
            display: flex;
            justify-content: center;
            align-items: center;
            transition-duration: 200ms;
        }

        button:hover{
            cursor: pointer;
            background-color: $primary-font-clr;
        }
        
        button:hover ~ .contact-item {
            background-color: $primary-font-clr;
        }

        .material-icons-outlined{
            font-size: 1rem;
            color: $bg-clr;
            user-select: none;
        }
    }

    .contact{
        display: flex;
        flex-flow: row wrap;
        gap: max(1vw, 1vh);
    }

    .contact-content{
        color: white;
        // color: $bg-clr;
        border: 1px solid $secondary-font-clr;
        border-radius: 5px 0 0 5px;
        padding: 5px 5px;
        // background-color: $secondary-font-clr;
        // font-weight: 700;
        font-size: 0.8rem;
    }

    // .contact-item:hover{
    //     cursor: pointer;
    //     background-color: $primary-font-clr;
    // }

    a, a:visited, a:hover{
        text-decoration: none;
        color: white;
    }
    svg{
        transition-duration: 200ms;
        fill: $secondary-font-clr;
    }
    
    svg:hover{
        fill: $primary-font-clr;
    }
}
@media only screen and (max-width: 1200px) {
    // :root{
    //     font-size: 15px;
    // }

    body{
        padding: 4vh 5vw;
        flex-flow: column;
        gap: 7vh;

        header{
            position: unset;
            padding: 0;
            justify-content: flex-start;
            gap: max(4vh, 20px);
            height: fit-content;
            flex: unset;
            // top: 0;
            // justify-content: space-between;
            // height: 100vh;
        }

        .scrollable-content{
            padding: 0;
        }

        .scrollable-content h2{
            display: unset;
        }
    }

    header{
        .upper-header nav{
            display: none;
        }
    }

    .upper-header{
        .short-intro{
            width: max(60%, 280px);
        }
    }

    .lower-header{
        .socials .contact-item{
            button{

            }
        }
    }
}
@media only screen and (max-width: 700px) {
    :root{
        font-size: 14px;
    }

    #light{
        display: none;
    }

    .upper-header{

        h1{
            font-size: 2rem;
        }
        // .short-intro{
        //     width: 100%;
        // }

        .intro span{
            font-size: 1.2rem;
        }
    }

    .lower-header{
        .contact{
            flex-flow: column;
            gap: 1vh;
        }
    }

}


// About Section
.about{
    font-size: 1rem;
    display: flex;
    flex-flow: column;
    gap: max(1.5vh, 15px);

    .about__text{
        span{
            font-weight: 500;
            color: white;
            font-size: 1rem;
        }
    }

    .about__education{
        display: flex;
        flex-flow: column;
        gap: max(1.5vh, 15px);
        margin-top: max(3vh, 25px);
    }
}
.about__education{
    img{
        // display: none;
        height: max(5vw,60px);
        max-height: 100px;
    }

    .education-btn{
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        gap: max(2vw, 20px);
        width: 100%;
        background-color: transparent;
        border: none;
        padding: max(2vh, 5px) max(2vw, 5px);
        border-radius: 5px;
        transition-duration: 100ms;
        
    }

    .education-btn:hover{
        cursor: pointer;
        background-color: #ffffff12;
    }

    .text-group{
        display: flex;
        flex-flow: column;
        gap: max(0.4vh, 5px);
        text-align: left;
    }

    .school{
        font-size: 1rem;
        font-weight: 700;
        color: $highlight-font-clr;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        gap: max(0.4vw, 5px);
    }

    .schoolyears{
        font-size: 0.7rem;
        font-weight: 400;
    }

    .address, .course, .achivement{
        font-size: 0.9rem;
    }
}
@media only screen and (max-width:1200px) {
    .about__education{
        .education-btn{
            width: fit-content;
        }
    }
}
@media only screen and (max-width: 500px) {
    .about__education{
        
        img{
            height: max(5vw,100px);
        }

        .education-btn{
            width: 100%;
            flex-flow: column;
            // align-items: flex-start;
        }

        .school{
            // justify-content: center;
            // align-items: flex-start;
            // flex-flow: column;
        }

        .text-group{
            display: flex;
            flex-flow: column;
            gap: max(0.4vh, 5px);
            text-align: left;
        }
    }
}
